<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="lokiUrl" source="loki.url" defaultValue="http://localhost:3100"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} %-5level [%thread] corr:%X{X-Correlation-Id} %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>${lokiUrl}/loki/api/v1/push</url>
        </http>
        <format>
            <label>
                <pattern>app=api-gateway,level=%level,host=${HOSTNAME:-unknown}</pattern>
            </label>
            <message>
                <pattern>%d{ISO8601} %-5level [%thread] corr:%X{X-Correlation-Id} %logger - %msg</pattern>
            </message>
        </format>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOKI"/>
    </root>
</configuration>
