server:
  port: 8081

spring:
  application:
    name: product-service
  data:
    redis:
      host: "${REDIS_HOST:localhost}"
      port: "${REDIS_PORT:6379}"
      timeout: 2s

logging:
  pattern:
    level: "%5p [corr:%X{X-Correlation-Id}]"
